




<div class="d-flex flex-column flex-lg-row justify-content-between">
    <ul class="list-group margin-top-40">
        <li class="list-group-item btn text-left my-1" routerLink="/cuenta/misReservas" >
            <i class="fab fa-algolia align-self-center"></i>
            {{'Account.MyReservations'| translate}}       
        </li>
        <li class="list-group-item btn text-left my-1" routerLink="/cuenta/alquileresDeOtrosAutos">
            <i class="fas fa-cart-arrow-down align-self-center"></i>
            {{'Account.HistoryOfRentals'| translate}}
        </li>
        <li class="list-group-item btn text-left my-1" routerLink="/cuenta/reservasParaConfirmar">
            <i class="fas fa-exclamation-circle align-self-center"></i> 
            {{'Account.PendingsReservations' | translate}}
        </li>
        <li class="list-group-item btn text-left my-1" routerLink="/cuenta/alquileresDeMisAutos">
            <i class="fas fa-history  align-self-center"></i> 
            {{'Account.HistoryOfMyCars' | translate}}
        </li>
    </ul>
    
    <div class="main-container flex-fill">
        <router-outlet></router-outlet>
    
    </div>
</div>