<div class="d-flex flex-row justify-content-between main-container fadeIn animated">
    <h1> Reservas de mis autos </h1>
</div>
<hr>

    <div *ngIf="reservation">
        
        <div class="col-md-12" *ngFor="let r of reservation, let i=index">
            
            <li class="list-group-item d-flex flex-column flex-md-row justify-content-around">
                
                
                <div class="main-container d-flex flex-row">
                    <div class="d-flex flex-column">
                        <label>
                            <i class="fas fa-calendar-alt"></i>
                            <strong>
                                    Fecha: {{r.reservationSinceDate}}
                            </strong> a 
                            <strong>
                                    {{r.reservationUntilDate}}
                            </strong>  
                        </label>    
                        
                        <label *ngIf="(url=== '/misReservas')&& (r.statusReservation=== 'Rejected')">
                            <i class="far fa-times-circle" style="color:red"></i>
                            <strong>
                                Status: 
                            </strong>Rechazado 
                        </label>  
                        
                        <label *ngIf="(url=== '/misReservas')&& (r.statusReservation=== 'Pending')">
                            <i class="fas fa-clock" style="color:yellow"></i>
                            <strong>
                                Status: 
                            </strong>Esperando aprobación del dueño.  
                        </label>                              

                    </div>
                </div>
                <img class="img-fluid img-preview" [src]="post?.vehicle.photos[0] | imagen" alt="Loading...">
                <div class="d-flex align-self-end" *ngIf="url=== '/reservasParaConfirmar'">
                    <button class="btn btn-success" (click)="confirmReservation(r.id, i)">
                            <i class="fas fa-check-circle"></i>
                            Confirmar
                        </button>
                        <button class="btn btn-danger px-2" (click)="rejectReservation(r.id, i)"> 
                            <i class="far fa-times-circle"></i>
                            Rechazar
                        </button>
                    </div>
                </li>
            </div>
        </div>
    
    <!--bordercolor para poner los bordes de colores-->
    
    <div class="alert alert-light text-center" role="alert" *ngIf="reservation?.length === 0">
           No se encontraron reservas.
    </div>