language: java
sudo: required
jdk:
  - oraclejdk8

notifications:
  email:
    recipients:
      - a.redonda89@gmail.com
      - gil.maricruz@gmail.com
    on_success: always # default: change
on_failure: always # default: always
