<footer class="footer bg-dark">
    <div class="inner">
       
      <div class="d-flex flex-row align-content-around" style="color:#FFFFFF;"> 
        <div class="d-flex flex-column flex-sm-row">
            <img class= "margin-right img-boton align-self-center" src="../../../assets/img/12cactusInc.png">
              
              <p class="px-4 align-self-end" style="color: #B5AAA8">2018 Carpnd by {{'Footer.Sign' | translate}} &copy;</p>   

        </div>  
            <div class="btn-group dropup ml-auto p-2">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Footer.LanguageBtn' | translate}}
                </button>
                <div class="dropdown-menu">
                   <!-- Dropdown menu links -->
                   <button class="dropdown-item" type="button" (click)="changeLanguage('es')">Español</button>
                   <div class="dropdown-divider"></div>
                   <button class="dropdown-item" type="button" (click)="changeLanguage('en')">Ingles</button>
        </div>
        </div>
    </div> 
    </div>
</footer>
