<footer class="footer">
    <p class="text-center">&copy; {{'Footer.Sign' | translate}}</p>
    <div class="btn-group dropup btn-padding-right">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'Footer.LanguageBtn' | translate}}
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <button class="dropdown-item" type="button" (click)="changeLanguage('es')">Español</button>
            <button class="dropdown-item" type="button" (click)="changeLanguage('en')">Ingles</button>
        </div>
    </div>
</footer>