<footer class="bottom bg-dark">
    <div class="inner">
       
      <p class="text-center" style="color:#FFFFFF;"> &copy; 2018 Carpnd by {{'Footer.Sign' | translate}} &copy;</p>
      <img class= "img-boton btn-padding-right" src="../../../assets/img/12cactusInc.png">
    </div>
    <div class="btn-group dropup btn-padding-right">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'Footer.LanguageBtn' | translate}}
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <button class="dropdown-item" type="button" (click)="changeLanguage('es')">Español</button>
            <button class="dropdown-item" type="button" (click)="changeLanguage('en')">Ingles</button>
        </div>
    </div> 
</footer>
