<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img class="img-navbar" src="assets/img/navbar-icon.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--active -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['home']">{{'HomeLink' | translate}} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['encontraTuAutoIdeal']">{{'FindYourCarLink' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['tusAutos']" *ngIf="isAuthenticated()">{{ 'MyCarsLink' | translate}}</a>
            </li>

        </ul>

        <div class="btn-group btn-margin btn-dark" role="group" *ngIf="isAuthenticated()">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="auth.userProfile?.picture" class="rounded-circle img-fluid img-boton">
            {{'WelcomeButton' | translate}} 
            <i class="fas fa-caret-down"></i>
      </button>
            <div class="dropdown-menu btn-margin" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" [routerLink]="['perfil']">
                    <i class="fas fa-user"></i> {{'ProfileButton' | translate}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> {{'LogoutButton' | translate}}</a>
            </div>
        </div>

        <button class="btn btn-dark btn-margin" *ngIf="!isAuthenticated()" (click)="login()">
          {{'LoginButton' | translate}}
        <i class="fas fa-chevron-circle-right"></i>
      </button>

    </div>
</nav>