<!--

<div class="main-container animated fadeIn">

    <button class="btn btn-link btn-right" (click)="volverAHome()"> {{ 'BackToHomeLink' | translate }} </button>
    <h1> {{ 'NewPost.MainTitleTxt' | translate}}</h1>
    <hr>


    <div class="row">

        <div class="col-md-2 margin-top-20">
            <div class="card center container-fluid" style="width: 18rem;">
                <img class="card-img-top" [src]="vehicle.photos[0]" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{'VehicleType.'+vehicle.vehicleType| translate}} {{'For'| translate}} {{vehicle.capacity}} </h5>
                    <p class="card-text">{{vehicle.description}}</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link text-center">{{'EditCarLink' | translate}}</a>
                    <a href="#" class="card-link btn-right">{{'ChangeCarLink'| translate}}</a>
                </div>
            </div>

        </div>

        <div class="col-md-9 padding-right container-fluid margin-right-20 margin-top-20">
            <label><strong>{{'NewPost.PickUpPoint'|translate}}:</strong></label>
            <div class="map">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]=true (mapClick)="mapClicked($event)">
                    <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="marker.draggable">
                    </agm-marker>
                </agm-map>
            </div>

            <form [formGroup]="forma" (ngSubmit)="post()" novalidate="novalidate">
                <div class="form-group margin-top-20">
                    <label><strong>{{'NewPost.ContactNumber'|translate}}</strong></label>
                    <input type="number" class="form-control" formControlName="phone" id="exampleInputEmail1" aria-describedby="emailHelp" [placeholder]="'NewPost.PhoneHolder'| translate">
                                <small class="form-text text-muted">Ingresalo con tu codigo de area. Ejemplo: Bs.As. (011 9999 9999)</small> 
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label><strong>{{'NewPost.AvailableDates' | translate}}</strong></label>
                        <my-date-range-picker class="text-center" name="mydaterange" [options]="myDateRangePickerOptions" formControlName="dateRange">
                        </my-date-range-picker>
                    </div>
                    <div class=" col-md-6">
                        <label><strong>{{'NewPost.CostPerDay'| translate}}</strong></label>
                        <input type="number" step='0.01' class="form-control" formControlName="costPerDay" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Valor por dia de alquiler">
                        <small class="form-text text-muted">En pesos argentinos!</small>
                    </div>
                </div>

                <label><strong>{{'NewPost.ReturnsPoint'| translate}}:</strong></label>
                <div id="mapa2" class="map">
                    <agm-map id="mapa3" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]=true (mapClick)="mapReturnClicked($event)">
                        <div *ngIf="returnMarkers">
                            <agm-marker *ngFor="let m of returnMarkers" [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="m.draggable">
                            </agm-marker>
                        </div>
                    </agm-map>
                </div>
                <footer class="container py-5">
                    <button type="submit" class="btn btn-primary btn-right main-container" [disabled]="!forma.valid">{{'Home.BtnTxt'| translate}}</button>
                </footer>
            </form>
        </div>
    </div>

</div> -->