<div class="main-container">

  <button class="btn btn-link btn-right"> < Volver a Home</button>
  <h1>Nueva Oferta</h1>
  <hr>  


  <div class="row">

    <div class="col-md-8">
      <label>Indica en el mapa el punto donde deben retirar el vehiculo:</label>
        <div class="map">
            <agm-map 
              [latitude]="lat" 
              [longitude]="lng"
              [zoom]="zoom"
              [disableDefaultUI]=false
              [zoomControl]=true
              (mapClick)= "mapClicked($event)">
                <agm-marker 
                  [latitude]="this.forma.controls['pickUpCoord'].controls['lat'].value" 
                  [longitude]="this.forma.controls['pickUpCoord'].controls['lng'].value"
                  markerDraggable= "false"
                  >
                </agm-marker>
              </agm-map>
        </div>

      <form [formGroup]="forma" (ngSubmit)="post()" novalidate="novalidate">
          <div class="form-group margin-top-20" >
              <label for="exampleInputEmail1">Telefono de Contacto</label>
              <input type="number" class="form-control" formControlName="phone" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu numero de telefono">
              <small id="emailHelp" class="form-text text-muted">Ingresalo con tu codigo de area. Ejemplo: Bs.As. (011 9999 9999)</small>
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Costo por dia</label>
              <input type="number" step='0.01' class="form-control" formControlName="costPerDay" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Valor por dia de alquiler">
              <small id="emailHelp" class="form-text text-muted">En pesos argentinos!</small>
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Publicar</button>
      </form>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="vehicle.photos[0]" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{vehicle.vehicleType}} para {{vehicle.capacity}} personas. </h5>
              <p class="card-text">{{vehicle.description}}</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link btn-right">Editar Auto</a>
              <a href="#" class="card-link btn-padding-right">Cambiar Auto</a>
            </div>
          </div>
      
    </div>
  </div>

</div>
