<div class="main-container form animated fadeIn fast">
    <h1 *ngIf="url==='/nuevoAuto'">{{ 'NewCar.MainTitleTxt' | translate}}</h1>
    <h1 *ngIf="url==='/editarAuto'">{{ 'EditCar.MainTitleTxt' | translate}}</h1>
    
    <hr>
        
    <form class="main-container">
        <form [formGroup]="forma" (ngSubmit)="saveChanges()" novalidate="novalidate">

            <div class="form-group">
                <label for="exampleFormControlInput1">{{'NewCar.Capacity' | translate}}</label>
                <input type="number" min="1" max="25" class="form-control" formControlName="capacity"
                [ngClass]="{'is-invalid': !forma.get('capacity').valid && forma.get('capacity').dirty}" 
                >
            </div>


            <div *ngIf="forma.controls['capacity'].errors?.required && forma.get('capacity').dirty" 
                  class="alert alert-danger">
                    {{'Errors.NoCapacity' | translate}}
            </div>
            <div class="alert alert-danger" *ngIf="forma.controls['capacity'].errors?.range">
                    {{'Errors.WrongCapacity' | translate}}
            </div>



            <div class="form-group">
                <label for="exampleFormControlSelect1">{{'NewCar.VehicleType'| translate}}</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="type" 
                        [ngClass]="{'is-invalid': !forma.get('type').valid && forma.get('type').dirty}">
                    <option value="AUTO">{{'VehicleType.AUTO' | translate}}</option>
                    <option value="MOTO">{{'VehicleType.MOTO' | translate}}</option>
                    <option value="CAMIONETA">{{'VehicleType.CAMIONETA' | translate}}</option>
                </select>
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">{{'NewCar.Description' | translate}}</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description" 
                          [ngClass]="{'is-invalid': !forma.get('description').valid && forma.get('description').dirty}">
                </textarea>
            </div>

            <div *ngIf="(forma.controls['description'].errors?.rangeLength || forma.controls['description'].errors?.required)
                            && 
                        forma.get('description').dirty" 
                 class="alert alert-danger">
                    {{'Errors.WrongDescription' | translate}}
            </div>


            <div class="form-group">
                <label for="exampleFormControlInput1"> <strong>{{'NewCar.Photos' | translate}}</strong></label>
                
                <button (click)="addPhoto()" class="btn btn-link btn-right py-0" type="button">
                    {{'NewCar.InsertPhoto' | translate}}
                </button>
                                 
                <div formArrayName="photos">
                    <div *ngFor="let photo of forma.value.photos; let i=index">
                        <div class="py-2 d-flex flex-column flex-md-row bd-highlight align-items-end">
                            <img [src]="forma.value.photos[i] | imagen" class="w15h20">
                            <input type="text" [formControlName]="[i]" class="w-100 form-control flex-md-fill bd-highlight">
                            <div class="ml-auto">
                                <button (click)="deletePhoto(i)" class="btn btn-danger" type="button">
                                    Eliminar
                                </button>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
                       
            <button *ngIf="url==='/nuevoAuto'" [disabled] ="!forma.valid" type="submit"  class="btn btn-primary btn-right">
                    {{'NewCar.AddCar' | translate}}
            </button>
            
            <button *ngIf="url==='/editarAuto'" [disabled] ="!forma.valid" type="submit" [disabled]="!forma.valid" class="btn btn-primary btn-right">
                {{'NewCar.EditCar' | translate}}
            </button>
         </form>
     </form>
</div>