<div class="main-container  animated fadeIn fast" *ngIf="auth.userProfile">

    <button type="button" class="btn btn-link btn-padding-right" (click)="editUser()">
        <i class="fas fa-paint-brush fa-lg" style="color:#DDDDDDDD"></i>
    </button>
    <div>
        <h3>{{auth.userBD.name}} {{auth.userBD.surname}}
        </h3>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img [src]="auth.userProfile.picture" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-6 py-2">
            <h3>{{auth.userProfile.email}}</h3>
            <ul class="list-group">
                <li class="list-group-item" *ngIf="!auth.userBD.status">
                    <strong>{{"Profile.AccountStatusTxt"| translate}}</strong> {{ 'Profile.DisabledStatus' | translate}}
                    <i class="fas fa-times-circle fa-lg btn-right" style="color: #FF0000"></i>
                </li>
                <li class="list-group-item">
                    <strong>{{'Profile.CreditTxt'| translate}} </strong> {{ auth.userBD.account | currency}}
                    <i class="btn-right fas fa-plus-square fa-lg "></i>
                </li>
                <li class="list-group-item">
                    <strong>CUIL: </strong> {{ auth.userBD.cuil}}
                </li>
                <li class="list-group-item">
                    <strong>Direccion: </strong> {{ auth.userBD.address}}
                </li>
                <li class="list-group-item">
                    <strong>{{'Profile.ReputationTxt' | translate}} </strong>{{auth.userBD.reputation}}
                </li>
                <li class="list-group-item" *ngIf="auth.userBD.status">
                    <strong>{{"Profile.AccountStatusTxt"| translate}}</strong> {{ 'Profile.EnabledStatus' | translate}}
                    <i class="fas fa-check-circle fa-lg btn-right" style="color:#00FF00;"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-new-user></app-new-user>
            </div>
        </div>
    </div>
</div> 