<div class="main-container  animated fadeIn fast" *ngIf="auth.userProfile">

    <button *ngIf="!editar" type="button" class="btn btn-link btn-padding-right" (click)="changeEdit()">
        <i class="fas fa-paint-brush fa-lg" style="color:#DDDDDDDD"></i>
    </button>
    <div *ngIf="editar" class="btn-group btn-padding-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-link" (click)="changeEdit()">
            <i class="fas fa-undo fa-lg" style="color:#000000"></i>
        </button>
        <button type="button" class="btn btn-link" (click)="doChanges()">
            <i class="fas fa-check fa-lg" style="color:#000000"></i>
        </button>
    </div>
    <div>
        <h3>{{auth.userProfile.name}}
            <button *ngIf="editar" type="button" class="btn btn-link " (click)="openModalName()">
            <i class="fas fa-paint-brush fa-lg" style="color:#DDDDDDDD"></i>
        </button>
        </h3>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img [src]="auth.userProfile.picture" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-6 ">
            <h3>{{auth.userProfile.email}}</h3>
            <ul class="list-group">
                <li class="list-group-item" *ngIf="!auth.userBD.status">
                    <strong>{{"Profile.AccountStatusTxt"| translate}}</strong> {{ 'Profile.DisabledStatus' | translate}}
                    <i class="fas fa-times-circle fa-lg btn-right" style="color: #FF0000"></i>
                </li>
                <li class="list-group-item">
                    <strong>{{'Profile.CreditTxt'| translate}} </strong> {{ auth.userBD.account | currency}}
                    <i class="btn-right fas fa-plus-square fa-lg "></i>
                </li>
                <li class="list-group-item">
                    <strong>{{'Profile.ReputationTxt' | translate}} </strong>{{auth.userBD.reputation}}
                </li>
                <li class="list-group-item" *ngIf="auth.userBD.status">
                    <strong>{{"Profile.AccountStatusTxt"| translate}}</strong> {{ 'Profile.EnabledStatus' | translate}}
                    <i class="fas fa-check-circle fa-lg btn-right" style="color:#00FF00;"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{'Modal.FullNameTxt' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'CloseButton' | translate}} </button>
                <button type="button" class="btn btn-primary" (click)="changeName()">{{ 'SaveButton' | translate}} </button>
            </div>
        </div>
    </div>
</div> 