<div>
    <form [formGroup]="forma" class="form" (ngSubmit)="registerMe()" novalidate="novalidate">
        <div class="form-row">
            <input formControlName="email" type="email" readonly class="form-control-plaintext bigger-bold text-center" id="staticEmail">
        </div>
        
        <div class="form-row margin-top-40">
            <label class= "col-md-3"for="inputPassword4">{{'NewUser.Name' | translate}}:</label>
            <input formControlName="name" [placeholder]="'NewUser.Name' | translate" type="text" class="form-control col-md-9" id="inputPassword4">
        </div>

        <div class="form-row margin-top-20">
            <label class= "col-md-3" for="inputAddress2">{{'NewUser.LastName' | translate}}:</label>
            <input formControlName="surname" [placeholder]="'NewUser.LastName' | translate" type="text" class="form-control col-md-9" id="inputAddress2">
        </div>
        
        <div class="form-row margin-top-20" formGroupName="address">
            <label class= "col-md-3" for="inputPassword4">{{'NewUser.Address' | translate}}:</label>
            <input formControlName="street" [placeholder]="'NewUser.Street' | translate" type="text" class="form-control col-md-6" id="inputPassword4">
            <input formControlName="number" [placeholder]="'NewUser.Number' | translate" type="text" class="form-control col-md-3" id="inputAddress2">
        </div>
        
        <div class="form-row margin-top-20" formGroupName="CUIL">
            <label class="col-md-3" for="inputPassword4">CUIL:</label>
            <input formControlName="prefix" type="number" placeholder="27" class=" col-md-2 px-1 py-0 form-control" id="inputPassword4">
            <input formControlName="DNI" type="number" placeholder="85960697" class="col-md-5 py-0 form-control" id="inputPassword4">
            <input formControlName="suffix" type="number" placeholder="3" class="col-md-2 px-1 py-0 form-control" id="inputPassword4">
        </div>

        <button type="submit"  [disabled]="!forma.valid" class="btn btn-primary btn-right main-container">{{'SaveButton' | translate}}</button>
        <button type="button" class="btn btn-right main-container btn-secondary" data-dismiss="modal">{{ 'CloseButton' | translate}} </button>
    </form>
</div>
