<div class="main-container">

  <h1>Tus Autos
    <button class="btn btn-light " (click)= addCar()>
     <i class="fas fa-plus-circle fa-3x btn-left"></i>
    </button>
  </h1>
  <hr>

    <div class="card mb-3">
        <img class="img-preview" [src]="cars[0].photos[0]" alt="Card image cap">
      <div class="main-container">
          <h5 class="card-title">{{cars[0].vehicleType}} para {{cars[0].capacity}} personas </h5>
          <p class="card-text">{{cars[0].description}}</p>
          <p class="card-text"><small class="text-muted"></small></p>
          
          
          <button (click)= editCar() class="btn btn-light">
          <i class="fas fa-pencil-alt fa-2x" ></i>
          </button>
          <button (click)= deleteCar() class="btn btn-light">
          <i class="fas fa-trash-alt fa-2x"></i>
          </button>
        </div>
      </div>

      
  </div>
