<div class="main-container">

    <div class="d-flex flex-row justify-content-between">
        <h1>{{ 'MyCarsLink' | translate}}</h1>
        <button class="btn btn-link" (click)="addCar()">
            <i class="fas fa-plus-circle fa-3x "></i>
        </button>
    </div>
    
    <hr>

     <div *ngFor="let car of _user.userBD.vehicles; let index= index" class="d-flex flex-column flex-md-row">
        <img class="img-fluid img-preview" [src]="car.photos[0] | imagen" alt="Loading...">
        
        <div class="main-container d-flex flex-column">
            <h5 class="card-title">{{ 'VehicleType.'+car.type | translate}} {{'For' | translate}} {{car.capacity}} {{'Persons' | translate}} </h5>    
            <p class="card-text">{{car.description}}</p>
        </div>
                <div class="d-flex flex-row align-self-end">
                    <button (click)="makeAPost(car)" class="btn btn-link align-item-end justify-item-end">
                      <i class="fas fa-money-bill-alt fa-2x py-1"></i>
                  </button>
                    <button (click)="editCar(car, index)" class="btn btn-link">
                      <i class="fas fa-pencil-alt fa-2x py-1" ></i>
                  </button>
                    <button (click)="confirmDeleteCar(car.id, index)" class="btn btn-link">
                      <i class="fas fa-trash-alt fa-2x py-1 px-0"></i>
                  </button>
                  </div>
            


            </div>


</div>

<div class="modal fade" id="eliminationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <h6>¿Está seguro que desea eliminar el vehiculo? Esta accion no se podrá deshacer.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)=deleteCar()>ELIMINAR</button>
            </div>
        </div>
    </div>
</div>