<div class="main-container">
        <div class=" d-flex flex-column flex-md-row justify-content-sm-between flex-xl-nowrap">
            <h1>{{'Posts.MainTitleTxt'| translate}} - <small><small>{{'Posts.FilterBy.'+ forma.value.type|translate}}</small></small>
            </h1>
            <div [formGroup]="forma" class="input-group mb-3 width btn-padding-right">
                    <select formControlName="type" class="custom-select" id="inputGroupSelect02">
                        <option value='TODOS' >{{ 'AllCategoriesTxt' | translate}}</option>
                        <option value='MOTO'>{{ 'VehicleType.MOTO' | translate}}</option>
                        <option value='AUTO'>{{ 'VehicleType.AUTO' | translate}}</option>
                        <option value='CAMIONETA'>{{ 'VehicleType.CAMIONETA' | translate}}</option>
                    </select>
                </div>
        </div>

        <div *ngIf="posts.length === 0" class="alert alert-light text-center" role="alert">
                {{'Posts.NoResultsTxt' | translate}} {{'VehicleType.'+ this.forma.value.type | translate}}
        </div>
    
        <div class=" margin-top-40 card-columns">
    
            <div class="card animated fadeIn fast" *ngFor="let post of posts| paginate: { itemsPerPage: 3, currentPage: p }">
    
                <img *ngIf= "post.vehicle.photos.length === 0 "class="card-img-top" src="../../../assets/img/Foto-no-disponible.png" [alt]="">
                <img *ngIf= "post.vehicle.photos.length >=1 "class="card-img-top" [src]="post.vehicle.photos[0]" [alt]="">
                <div class="card-body">
                    <h5 class="card-title">{{ 'VehicleType.'+post.vehicle.type | translate }} {{ 'In'| translate }} {{ post.location }}- {{ post.costPerDay |currency}} {{ 'PerDayTxt' | translate}}</h5>
                    <p class="card-text">{{post.description}}</p>
                    <p class="card-text"><small class="text-muted">{{'Posts.AvailableDaysTxt' | translate }} {{post.sinceDate}} {{'To' | translate}} {{post.untilDate}}</small></p>
    
    
                    <button type="button" (click)="verPost(post.id)" class="btn btn-outline-primary btn-block">
                {{ 'MoreButton' | translate}}
              </button>
                    <!--          <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas link...</a> -->
                </div>
            </div>
            
        </div>
    </div>
                   
    
                <div *ngIf="posts.length > 0" class="d-flex flex-row justify-content-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>