<div *ngIf="post">

  <div class="row">
      <div class= "col-md-12">
        <div class="map">
            <agm-map 
            [latitude]="lat" 
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]=false
            [zoomControl]=true
            (mapClick)= "mapClicked($event)">
  
                <agm-marker 
                *ngFor= "let m of markers; let i= index"
                (markerClick)="markerClicked(m)"
                [latitude]="m.lat" 
                [longitude]="m.lng"
                [markerDraggable]="m.draggable"
                >
              <agm-info-window>
                <strong>{{m.name}}</strong>
              </agm-info-window>
              </agm-marker>
            </agm-map>
        </div>      
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="alert alert-light align-self-end" *ngIf="distance" role="alert">
          {{'YoureTxt'| translate}} {{distance}} {{'FromPickUpPlaceTxt' | translate}} ({{duration}} {{'WalkingTxt' | translate}}).
      </div>
      <div class="alert alert-light align-self-end" *ngIf="!distance" role="alert">
          {{'Post.PlaceholderDistance' | translate}}   
      </div>
  
      <div class="d-flex flex-row justify-content-around">
        <h1>{{'VehicleType.'+post.vehicle.type | translate}} {{"In" | translate}} {{post.location | uppercase}} 
          <br>
          <small>{{'Posts.AvailableDaysTxt' | translate}} ({{post.sinceDate}})</small>
        </h1>
      </div>
       
      <hr>
    </div>
  
  
  <div class= "d-flex justify-content-around flex-column flex-lg-row animated fadeIn fast">
                
    <div class="d-flex justify-content-center">
      <carousel-component [mode]="'horizontal'" [autoPlay]="true" #topCarousel >
        <div class="item-carousel" *ngFor="let p of post.vehicle.photos"><img [src]="p"></div>
      </carousel-component>
    </div>
  
  
    <div class="flex-column d-flex py-4 align-self-center">
      <h3>{{'VehicleType.'+post.vehicle.type | translate}} {{'In' | translate}} {{post.location | uppercase}} <small>{{post.costPerDay | currency}} {{'PerDayTxt'| translate}}</small></h3>
      <p>
        {{post.vehicle.description}}
      </p>
      <button (click)= "reservar(post.id)" class="btn btn-success btn-block">{{'ReserveButton' | translate}}</button>
    </div>
  
  </div>
      <br><br>
</div>