<div class="row">
    <div class= "col-md-12">
      <div class="map">
          <agm-map 
          [latitude]="lat" 
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]=false
          [zoomControl]=true
          (mapClick)= "mapClicked($event)">

              <agm-marker 
              *ngFor= "let m of markers; let i= index"
              (markerClick)="markerClicked(m)"
              [latitude]="m.lat" 
              [longitude]="m.lng"
              [markerDraggable]="m.draggable"
              >
            <agm-info-window>
              <strong>{{m.name}}</strong>
            </agm-info-window>
            </agm-marker>
          </agm-map>
      </div>
      
    </div>
  </div>
  
  <div class="alert alert-light btn-right" *ngIf="distance" role="alert">
      {{'YoureTxt'| translate}} {{distance}} {{'FromPickUpPlaceTxt' | translate}} ({{duration}} {{'WalkingTxt' | translate}}).
  </div>
  <div class="alert alert-light btn-right" *ngIf="!distance" role="alert">
      {{'Post.PlaceholderDistance' | translate}}   
  </div>

<h1 class="main-container">{{'VehicleType.'+post.vehicleType | translate}} {{"In" | translate}} {{post.location | uppercase}} 
  <br>
  <small>{{'Posts.AvailableDaysTxt' | translate}} ({{post.rentalDate}})</small>
</h1>
 
<hr>

<div class= "animated fadeIn fast">
      <div class="row">
          <div class="col-md-4">
              
              <carousel-component [mode]="'horizontal'" [autoPlay]="true" #topCarousel >
                <div class="item-carousel" *ngFor="let p of post.photos"><img [src]="p"></div>
              </carousel-component>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-4">
            <h3>{{'VehicleType.'+post.vehicleType | translate}} {{'In' | translate}} {{post.location | uppercase}} <small>{{post.costPerDay | currency}} {{'PerDayTxt'| translate}}</small></h3>
            <hr>
            <p>
              {{post.description}}
            </p>
        
            <button (click)= "reservar(post.id)" class="btn btn-success btn-block">{{'ReserveButton' | translate}}</button>
          </div>

      </div>
    <br><br>

</div> 