<div *ngIf="post">
  
    <div class="alert alert-danger" *ngIf="post.postState === 'RESERVED'" role="alert">
        Esta publicacion ya se encuentra cerrada.
      </div>
  <div class="row">
      <div class= "col-md-12">
        <div class="map">
            <agm-map 
            [latitude]="lat" 
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]=false
            [zoomControl]=true
            (mapClick)= "mapClicked($event)">
  
                <agm-marker 
                *ngFor= "let m of markers; let i= index"
                (markerClick)="markerClicked(m)"
                [latitude]="m.lat" 
                [longitude]="m.lng"
                [markerDraggable]="m.draggable"
                >
              <agm-info-window>
                <strong>{{m.name}}</strong>
              </agm-info-window>
              </agm-marker>
            </agm-map>
        </div>      
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="alert alert-light align-self-end" *ngIf="distance" role="alert">
          {{'YoureTxt'| translate}} {{distance}} {{'FromPickUpPlaceTxt' | translate}} ({{duration}} {{'WalkingTxt' | translate}}).
      </div>
      <div class="alert alert-light align-self-end" *ngIf="!distance" role="alert">
          {{'Post.PlaceholderDistance' | translate}}   
      </div>
  
      <div class="d-flex flex-row justify-content-around">
        <h1 class="text-center">{{'VehicleType.'+post.vehicle.type | translate}}
          <br>
          <small *ngIf="post.sinceDate===post.untilDate">{{'Posts.AvailableDayTxt' | translate}} {{post.sinceDate}}</small>
          <small *ngIf="post.sinceDate!==post.untilDate">{{'Posts.AvailableDaysTxt' | translate}} {{post.sinceDate}} {{'To' | translate}} {{post.untilDate}}</small>
        </h1>
      </div>
       
      <hr>
    </div>
  
  
  <div class= "d-flex justify-content-around  flex-column flex-lg-row animated fadeIn fast">
    <div class="d-flex flex-column main-container align-content-center justify-content-center">
  
      <div class="d-flex justify-content-center py-2">
        <carousel-component [mode]="'horizontal'" [autoPlay]="true" #topCarousel >
          <div class="item-carousel" *ngFor="let p of post.vehicle.photos"><img [src]="p"></div>
        </carousel-component>
      </div>
      
      <div class="d-flex flex-row justify-content-center">
        <h3 class="px-2 align-self-center">
          {{'VehicleType.'+post.vehicle.type | translate}} 
        </h3>
        <span class=" px-2 badge badge-warning align-self-center">
          {{user.reputation}}
          <i class="fas fa-star"></i>  
        </span>
      </div>
      
      <div class="align-self-center">
        <i class="fas fa-hand-holding-usd"></i>
        {{post.costPerDay | currency}} {{'PerDayTxt'| translate}}
      </div>
      
      <p class="py-2">
        {{post.vehicle.description}}
      </p>
    </div>
    
    <div class="d-flex flex-column flex-fill px-4">
      
      <label class="d-flex align-self-center">
          <i class="fas fa-map-marker-alt"></i>
          <strong class="px-1"> Retorno </strong></label>
      <div class="map px-2 py-2 postmap justify-content-center align-self-center">
          <agm-map 
          [latitude]="post.returnCoords.lat" 
          [longitude]="post.returnCoords.lng"
          [zoom]="zoom"
          [disableDefaultUI]=false
          [zoomControl]=true>

              <agm-marker 
              [latitude]="post.returnCoords.lat" 
              [longitude]="post.returnCoords.lng"
              [markerDraggable]=draggable
              >
            <agm-info-window>
              <strong>Direccion de retorno</strong>
            </agm-info-window>
            </agm-marker>
          </agm-map>
      </div>      
      <div class="align-self-end px-5 py-3">
        <button (click)= "reservar(post.id)" *ngIf="post.postState==='AVAILABLE'" class="btn btn-success align-self-end d-flex flex-row">
          <div class="px-2" *ngIf="loading">
              <i class="fas fa-spinner fa-spin"></i>
          </div>
            {{'ReserveButton' | translate}}
          </button>
      </div>
    </div>
  
  </div>
      <br><br>
</div>