
.img-navbar{
    width: 90px;
  }

.img-post{
    width: 10cm;
}

  .main-container{
    margin-top: 10px;
    margin-left: 20px;
}

body{
  padding-bottom:50px;
}

.img-logo{
  width: 120px;
}

agm-map {
  height: 300px;
}



/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }